<div class="h-full">
  <div class="px-6 py-16 lg:px-8">
    <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
      <h1
        class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
      >
        Life As A Mouse
      </h1>
      <p class="mt-6 text-xl/8">
        Every fourth generation is cursed to live in interesting times, so
        interesting in fact that between 50% and 75% of the population does not
        survive each calamity. It is up to them to make sure something survives
        into the future. Four generations ago it was the Invasion by savages.
        Four generations before that was the Flood. Four generations before that
        was the Earthquake. The calamity that defines this generation has yet to
        come, but the mice of the County are preparing as best they can to
        weather what comes and hope their house comes out on top.
        <br />
        <br />
        In this game you will be running as the head of house for a group of
        mice. The head of house does not go adventuring, but does have a method
        of operating that defines their house and the way they operate, similar
        to the houses in Game of Thrones. While the goal of many houses in GoT
        is to see who ends up on the Iron Throne, the goal here is to come out
        the least impacted by the calamity to come.
      </p>
      <div class="mt-10 max-w-2xl">
        <p>
          The cycle of generations are Survivor, Builder, Preparer, Survivor.
          Your head of house character is going to be from the last generation
          of Survivors and each of the mice you play in this campaign is going
          to be from the generation of Survivor that is just now coming of age.
        </p>
        <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
          <li class="flex gap-x-3">
            <svg
              class="mt-1 size-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              ><strong class="font-semibold text-gray-900"
                >Current (Survivor): 3 months old [16 human years].</strong
              >
              These are the mice you will be playing and going on adventures
              with. When your character is created they are celebrating their 3
              month birthday to be recorded on their character sheet.</span
            >
          </li>
          <li class="flex gap-x-3">
            <svg
              class="mt-1 size-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              ><strong class="font-semibold text-gray-900"
                >Parents (Preparer): 7 months old [35-40 human years].</strong
              >These are the parental figures that are likely to be helpful
              common NPCs in the game.</span
            >
          </li>
          <li class="flex gap-x-3">
            <svg
              class="mt-1 size-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              ><strong class="font-semibold text-gray-900"
                >Grandparents(Builder): 11-12 months old [60-65 human years].
              </strong>
              These are figures in the twilight of their working years, the ones
              that have made it this far tend to be tough, knowledgeable and
              resourceful. Uncommon NPCs in game, often ones with important
              names, roles or titles.</span
            >
          </li>
          <li class="flex gap-x-3">
            <svg
              class="mt-1 size-5 flex-none text-indigo-600"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z"
                clip-rule="evenodd"
              />
            </svg>
            <span
              ><strong class="font-semibold text-gray-900"
                >Great-Grandparents (Survivors): 17+ months old [90+ human
                years].
              </strong>
              These are the living legends. A few tough old birds and deadly old
              bastards not only survived the last calamity but are too mean, too
              stubborn, or too driven to die. These are your heads of house.
            </span>
          </li>
        </ul>
        <p class="mt-8">
          Mice live short and danger filled lives. 1 month is slightly over 5
          mouse years. Most mice "settle down" and have children around 4 months
          old, however survivor mice tend to be 5 or even 6 months old depending
          on their individual calamity. The mice of Squeakshire are also much
          less likely to spread out their births over a series of months so the
          generations are less gradual than they would be in human communities
          and most mice are raised semi-communally in the region of their birth,
          only spending about half of their time with their family unit and the
          other half of the time with the members of their county in their same
          generation.
          <br />
          <br />
          Given the speed of life and the length of recovery, mice that find
          themselves too often injured might find themselves aged out of the
          adventuring life all together. A single week of recovery for a mouse
          is like a human spending a full year of PT to get themselves back on
          their feet again from a major injury.
        </p>
      </div>
    </div>
  </div>
  <div class="py-16 sm:py-18">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
        >
          Game Mentality
        </h2>
        <p class="mt-6 text-lg/8 text-gray-600">
          Dice Mice is a tactical OSR (or NSR) inspired game where you play as a
          game of thrones style house of mice who explore the dangerous world
          for the good of mouse kind (and the profit of your family and house).
        </p>
      </div>
      <dl
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base/7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <div>
          <dt class="font-semibold text-gray-900">Assumed Competency</dt>
          <dd class="mt-1 text-gray-600">
            Your characters will not have most non-magical equipment marked on
            their sheet. It is assumed your character is wearing appropriate
            clothing and armor for their class and the defenses and penalties
            associated with that are all built into your class. If you have a
            nonmagical limited resource you are assumed to start with a baseline
            amount of that resource (Rations, Water, Torches, Arrows etc) listed
            in your adventuring kit for your class. If you wish to have more
            than that, you need to explain why you have it on you.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">
            Size Matters (And you are very small)
          </dt>
          <dd class="mt-1 text-gray-600">
            Size is a massive advantage/disadvantage depending on the situation.
            Combat with creatures larger than you is likely to be something that
            works more as a puzzle than as a straight fight as creatures will
            have a very large advantage in health the larger they get as well as
            size based damage resistance. Something the size of a large Snake is
            going to be like fighting a dragon. An encounter with a Lynx or an
            Owl isn't a fight, its figuring out how many mice escape with their
            lives. The panicked running legs of a deer are more like tornado
            touch downs than they are appendages of anything living.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Fair Combat is Failure</dt>
          <dd class="mt-1 text-gray-600">
            If you are in a fair fight something went wrong with the plan. If
            you are in an unfair fight, something went catastrophically wrong
            with the plan. A single damage roll can kill one of your characters,
            especially at low levels, and even surviving involves days or weeks
            of potential downtime assuming you keep all your limbs/eyes/etc when
            you take the damage. As such mice are very highly incentivized to
            not fight fair, to be tactical and only engage with overwhelming
            advantage.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">The House Survives</dt>
          <dd class="mt-1 text-gray-600">
            No matter how many mice you lose, your house survives. It is sad to
            lose anyone, but there is a reason mice breed so quickly... This
            also means that the overall feel of your house is vitally important
            to playing and understanding your characters. In Game of Thrones
            when Jaime makes a decision he often thinks "What would Jaime do?"
            but he always has to think "What would a Lannister do?".
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Your Fate, Your Dice</dt>
          <dd class="mt-1 text-gray-600">
            The world and its creatures are obstacles that must be overcome. You
            roll to hit monsters, you roll to make DCs for skill checks, but you
            also roll to avoid incoming attacks or catastrophes. The only rolls
            made by the DM are opposing checks (which effectively is a roll I
            use to set a DC), initiative rolls and hidden checks (which you will
            often actually roll but only I will see the result).
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Magic is Alien and Deadly</dt>
          <dd class="mt-1 text-gray-600">
            Magic is not well understood. Some say it is not understandable. As
            such no magic comes without a cost (There are no cantrips). Some
            creatures and desperate mice will risk the consequences of casting
            spells unaided, however no player class gets this ability as
            default. The vast majority of casting takes place through the
            crafting and casting of magic scrolls or through the use of magical
            tattoos (effectively living scrolls) if the character is a sorcerer.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">You Try Anything</dt>
          <dd class="mt-1 text-gray-600">
            A Barbarian can try to read a 7th level spell scroll at level 1 and
            unleash the magic contained there-in. It is likely to kill them and
            everyone in the nearby vacinity and have catastrophic consequences,
            but they can still try.
          </dd>
        </div>

        <div>
          <dt class="font-semibold text-gray-900">Recovery Costs</dt>
          <dd class="mt-1 text-gray-600">
            By default mice recover 1 hit point per level per day of recovery,
            no spells can recover hit points but potions can. Potions are
            expensive to use, but can shave days or weeks off of recovery time
            and when used in the wild can be the difference between life and
            death.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">
            Simple Creatures, Complex World
          </dt>
          <dd class="mt-1 text-gray-600">
            As you start looking at the classes you will notice that they are
            very simple. This is intentional. Most of what your character gains
            is not through class features and levels gained, it is through going
            into the world and finding things.
          </dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Success is Golden</dt>
          <dd class="mt-1 text-gray-600">
            You get experience for getting money for yourself and your house
            from the wilderness and back to town. The rate of experience is
            always 1 GP for 1 EXP. Some monsters might have loot or valuable
            components as parts of their body that can be brought back to town,
            however usually avoiding fights and sneaking in to get the money is
            a much better plan. Succeeding at quests or helping the community
            comes with a GP reward and the corresponding amount of EXP.
          </dd>
        </div>

        <div>
          <dt class="font-semibold text-gray-900">Preparation > Recovery</dt>
          <dd class="mt-1 text-gray-600">
            Being prepared for a situation is far more mechanically beneficial
            than having to deal with something after the fact. For example
            potions of heroism which grant temporary hit points are much more
            effective at keeping mice alive than using a potion of healing after
            they are hurt.
          </dd>
        </div>
      </dl>
    </div>
  </div>
  @if (authService.authUser != null) {
  <div
    class="mt-3 mb-10 w-full inline-flex flex-col px-6 sm:flex-row justify-center gap-4"
  >
    <a [routerLink]="'/create-campaign'">
      <p-button
        disabled
        rounded
        size="large"
        type="button"
        class="rounded-full text-md px-4 py-2.5 sm:px-6 sm:py-4 sm:text-lg font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Create Campaign
      </p-button>
    </a>
    <a [routerLink]="'/join-campaign'">
      <p-button
        type="button"
        size="large"
        rounded
        class="cursor-pointer rounded-full text-md px-4 py-2.5 sm:px-6 sm:py-4 sm:text-lg font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Join Campaign
      </p-button>
    </a>
  </div>

  } @else {
  <div class="mt-3 mb-10 w-full inline-flex justify-center">
    <a [href]="getDiscordOAuthUrl()">
      <button
        type="button"
        class="cursor-pointer rounded-full bg-indigo-600 text-lg px-4 py-2.5 sm:px-6 sm:py-4 sm:text-2xl font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Login to Join or Create A Campaign
      </button>
    </a>
  </div>

  }
</div>
