<div class="mx-auto px-8 py-16 md:max-w-5xl text-base/7 text-gray-700 mb-10">
  <h1
    class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
  >
    Dice Mice Compendium
  </h1>
  <p class="mt-6 mb-6 text-xl/8">
    The Dice Mice Compendium contains all the rules and information that you
    need to play Dice Mice included lists of all the rules, classes, counties,
    skills, potions, spells, and items for you to peruse and quickly reference
    during your games.
  </p>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    <a routerLink="/counties">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Counties</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/classes">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Classes</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/skills">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Skills</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/weapons">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Weapons</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/shields">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Shields</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/downtime">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Downtime Rules</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/influence">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Influence</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/potions">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Potions</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
    <a routerLink="/spells">
      <div
        class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-xs focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
      >
        <div class="min-w-0 flex-1">
          <span class="focus:outline-hidden w-full inline-flex justify-between">
            <p class="text-sm font-medium text-gray-900">Spells</p>
            <i
              class="truncate text-sm text-gray-500 self-center pi pi-chevron-right"
            ></i>
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
